{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navnav">
      <div class="container-fluid">
        <a class="navbar-brand ms-2" href="{% url 'index'%}"
          ><img class="icon" src="{% static 'images/icon.svg' %}" alt="icon"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
            <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% if user.is_authenticated %} {% url 'index_user'%} {% else %}{% url 'index'%} {% endif %} "
                >Inicio</a
              >
            </li>
            {% if user.is_authenticated%}
            <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% url 'tasks_list'%}"
                >Lista de Tareas</a
              >
            </li>
            <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% url 'task_creation'%}"
                >Nueva Tarea</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% url 'logout'%}"
                >Cerrar Sesión</a
              >
            </li>
            {% else %}
            {% comment %} <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% url 'index'%}"
                >Registrarse</a
              >
            </li> {% endcomment %}
            <li class="nav-item navli">
              <a
                class="nav-link active navboton rounded-4 mx-1"
                aria-current="page"
                href="{% url 'login'%}"
                >Iniciar Sesion</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="cuerpo container my-3">
      {% block content %}
      <header>{% block header %}{% endblock %}</header>
      {% endblock %}
    </div>
    <footer
      id="sticky-footer"
      class="flex-shrink-0 py-4 text-white-50 footerbase"
    >
      <div class="row row-cols-1 row-cols-md-3 g-4 futer">
        <div class="col-12">
          <div id="card-footer" class="card h-100">
            <div class="card-body tarjeta">
              <h5 class="card-title text-center">Memo me</h5>
              <p class="card-text">Registra tus tareas de forma simple</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div id="card-footer" class="card h-100">
            <div class="card-body tarjeta">
              <h5 class="card-title text-center">Contacto</h5>
              <ul>
                <li>
                  <img
                    class="icono"
                    src="{% static 'images/adress.png'%}"
                    alt="Address"
                  />
                  123 Fake Street, Osorno, Chile
                </li>
                <li>
                  <img
                    class="icono"
                    src="{% static 'images/wsp.png'%}"
                    alt="Whatssapp"
                  />
                  + 56 9 123456725
                </li>
                <li>
                  <img
                    class="icono"
                    src="{% static 'images/email.png'%}"
                    alt="email"
                  />
                  ejemplo@email.com
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div id="card-footer" class="card h-100">
            <div class="card-body tarjeta text-center">
              <h5 class="card-title text-center">Nuestras redes sociales</h5>
              <div>
                <div class="">
                  <a
                    class="d-inline-flex mb-2 rrss"
                    href="https://www.instagram.com/"
                  >
                    <img
                      class="redesimg mb-4"
                      src="{% static 'images/ig.png'%}"
                      alt=" instagram"
                      width="50px"
                      height="auto"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="brand" class="container text-center">
        <small>Esteban Santibáñez B &copy; Memo me</small>
      </div>
    </footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
