{% extends 'base.html' %} {% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <section class="col-lg-12 inicio">
    <div class="row justify-content-center d-flex align-content-center">
      <div class="cardo col-8 col-lg-5">
        <div class="card-body">
          <h3 class="card-title mb-2 tipografia">Memo Me</h3>
          <p class="card-text">
            Manten registro de tus tareas y objetivos de forma simple y
            ordenada.
          </p>
        </div>
      </div>
      <div class="col-lg-6 container-img">
        <img
          class="image img-fluid"
          src="{% static 'images/icon.svg' %}"
          alt="Memo Me"
        />
      </div>
    </div>
  </section>
</div>
{% endblock %}
