{% extends 'base.html' %} {% load static %} 
{% block title %}{{ title }}{% endblock %}
{% block content %} {% block header %}{% endblock %}
<div class="row justify-content-center">
  <a href={% if title == "Editar Tarea" %}" {% url 'task_item' task.id %}" {% else %} "{% url 'tasks_list' %}" {% endif %} class="btn btn-light rounded-3 col-lg-2 m-2"
    >Regresar</a>
</div>
<div class="row justify-content-center">
  <div class="card text-dark bg-light mt-2 mb-3 col-lg-6">
    <div class="card-body d-flex justify-content-between">
      <span class="card-title h5 p-2 rounded-3 my-2 cursor">{{ title }}</span>
    </div>
    <form class="card p-3 m-2 bg-description rounded-3" method="POST">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit" class="btn btn-primary my-2">Guardar</button>
    </form>
    <div class="card-body d-flex justify-content-between"></div>
  </div>
</div>
{% endblock %} 
