{% extends 'base.html' %} {% load static %}
{% block title %}Tarea {{ task }}{% endblock %} 
{% block content %} {% block header %}{% endblock %}
<div class="row justify-content-center">
   
  <form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center">
  <a href="{% url 'task_edition' task.id %}" class="btn btn-primary rounded-3 col-lg-2 m-2">Editar Tarea</a>
  <button type="submit" name="complete" class="btn btn-success rounded-3 col-lg-2 m-2">Completar Tarea</button>
  
  <button
    type="button"
    class="btn btn-danger rounded-3 col-lg-2 m-2"
    data-bs-toggle="modal"
    data-bs-target="#deleteModal"
  >
    Eliminar Tarea
  </button>
  <a href="{% url 'tasks_list' %}" class="btn btn-light rounded-3 col-lg-2 m-2"
    >Regresar</a>
</div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Está seguro de querer eliminar la tarea? <br> Esta no podrá ser recuperada...
        </div>
        <form method="post" name="delete_task"> 
            {% csrf_token %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="submit" class="btn btn-danger">Eliminar Tarea</button>
            </div>
        </form>
      </div>
    </div>
  </div>


  
</div>
{% if task.priority %}
<div class="row justify-content-center">
  <div class="card text-dark mt-2 mb-3 col-lg-6
                                                {% if task.priority.rank == 1 %}
                                                priority-low
                                                {% elif task.priority.rank == 2 %}
                                                priority-medium latente1
                                                {% else %}
                                                priority-high latente2
                                                {% endif %}">
    <div class="card-body d-flex justify-content-center">
      <span class="card-title h2 p-2 rounded-3 my-2 cursor">Prioridad: {{ task.priority }}</span>
    </div>
  </div>
</div>
{% endif %}
<div class="row justify-content-center">
  <div class="card text-dark bg-light mt-2 mb-3 col-lg-6 hovered">
    <div class="card-body d-flex justify-content-between">
      <span class="card-title h5 p-2 rounded-3 my-2 cursor">{{ task }}</span>
      <span
        class="{% if task.label_id == 1 %}bg-primary text-white {% elif task.label_id == 2 %}bg-success text-white {% elif task.label_id == 3 %}bg-warning {% elif task.label_id == 4 %}bg-light {% else %}bg-danger text-white {% endif%} p-2 rounded-3 my-2 hovered cursor"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="{{ task.label.description }}"
        >{{ task.label.title}}</span>
    </div>
    <div class="p-3 m-2 bg-description rounded-3">
      <p class="card-text cursor">{{ task.description }}</p>
    </div>
    {% if observations %}
    <form method="POST">
    {% csrf_token %}
    <p class="mx-3">Observaciones:</p>
    {% for observation in observations %}
    <div class="p-3 mx-2 mb-2 bg-description rounded-3 d-flex justify-content-between">
      <span class="card-text m-2 cursor">{{ observation }}</span>
      <button type="submit" name="delete_observation" value="{{ observation.id }}" class="btn btn-success rounded-3 col-lg-2 align-self-start align-self-center">Eliminar</button>
    </div>
    {% endfor %}
    </form>
    {% endif %}
    <div class="card-body d-flex justify-content-between">
      <span class="bg-date p-2 py-3 rounded-3 cursor"
        >{% if task.due_date %}{{ task.due_date }}{% else %}Sin fecha límite{% endif %}</span
      >
      <span class="bg-status p-2 py-3 rounded-3 cursor">{{ task.status }}</span>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="card text-dark bg-light mt-2 mb-3 col-lg-6">
    <div class="card-body d-flex justify-content-between">
      <span class="card-title h5 p-2 rounded-3 my-2 cursor">Agregar Observación</span>
    </div>
    <form class="card p-3 m-2 bg-description rounded-3" method="POST" name="observation">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit" class="btn btn-primary my-2">Guardar</button>
    </form>
    <div class="card-body d-flex justify-content-between"></div>
  </div>
</div>

{% endblock %} 