{% extends 'base.html' %} {% load static %} {% block title %}Iniciar Sesion{% endblock %} {% block header %}
<h1 class="titulo">Iniciar Sesión</h1>
{% endblock %} {% block content %}
<div class="row justify-content-center">
  {% if error %}
  <div class="d-flex justify-content-center align-content-center">
    <h2 class="error">{{error}}</h2>
  </div>
  {% endif %}
  <form class="card col-8 col-lg-4 p-3" method="POST">
    {% csrf_token %} {% for field in form %}
    <label for="{{ field.id_for_label }}" class="form-label"
      >{{ field.label }}:</label
    >
    {{ field }} {% endfor %}
    <button type="submit" class="btn mt-3 botonmemo">Iniciar Sesión</button>
    {% comment %} <a class="form-text text-center" href="{% url 'index' %}">
      Entra aquí si no tienes una cuenta registrada
    </a> {% endcomment %}
  </form>
</div>

{% endblock %}
